*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.obj
*.tlog
*.sdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.exp
*.lib
lib/nlopt-2.3-dll/*.exp
lib/nlopt-2.3-dll/*.lib
*.ipch
*.cpp.orig
*.h.orig
